/* Resets */

html, body, div, form, p, ul, li, span, label, img {
	margin: 0;
	padding: 0;
	outline: none;
}
html, body {
	height: 100%;
	width: 100%;
}
body {
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	overflow: hidden;
}
.app-android {
	font-family: "Roboto", sans-serif;
}
.clear {
	clear: both;
}



/* Dialogs */

.app-dialog-container {
	position: absolute;
	z-index: 5000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.8);
}
.app-dialog-container {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out;
}
.app-dialog-container.active {
	opacity: 1;
}
.app-ios .app-dialog-container {
	background: rgba(0,0,0,0);
	opacity: 1;
	-webkit-transition: background 0.3s ease-in-out;
}
.app-ios .app-dialog-container.active {
	background: rgba(0,0,0,0.8);
}
.app-dialog {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid rgba(124,125,127, 0.2);
	box-shadow: 0 -1px 3px rgba(0,0,0, 0.5);
}
.app-ios .app-dialog {
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	-webkit-transform: translate3d(0,100%,0);
}
.app-ios .app-dialog-container.active .app-dialog {
	-webkit-transform: translate3d(0,0,0);
}
.app-dialog .app-title {
	position: relative;
	padding: 12px 8px;
	background: rgba(26,27,31, 0.97);
	border-bottom: 1px solid rgba(18,18,21, 0.97);
	box-shadow: 0 1px 0 rgba(49,50,55, 0.97);
	color: #FFF;
	font-size: 17px;
	font-weight: bold;
	line-height: 18px;
	text-align: center;
}
.app-dialog .app-text {
	padding: 12px 32px 0;
	background: -webkit-linear-gradient(top, rgba(27,29,34, 0.97), rgba(24,26,31, 0.97));
	color: #A6A7A9;
	font-size: 16px;
	line-height: 17px;
	text-align: center;
}
.app-dialog .app-buttons {
	padding: 12px 0;
	background: -webkit-linear-gradient(top, rgba(24,26,31, 0.97), rgba(20,22,28, 0.97));
}
.app-dialog .app-button {
	margin: 0 4%;
	padding: 12px 0;
	background: -webkit-linear-gradient(top, #3D3E45, #191A22);
	border: 1px solid #060607;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	text-align: center;
	text-shadow: 0 -1px 0 #1C1C1C;
}
.app-dialog .app-button.active {
	background: -webkit-linear-gradient(top, #15171D, #1D1E25);
	color: #EEE;
}
.app-ios .app-dialog .app-button {
	background: -webkit-linear-gradient(top, #3D3E45, #15171D);
	border-radius: 6px;
	box-shadow: inset 0 1px 1px #5C5E63;
}
.app-ios .app-dialog .app-button.active {
	background: -webkit-linear-gradient(top, #15171D, #1D1E25);
	box-shadow: inset 0 1px 2px #070814;
}
.app-dialog .app-button.left,
.app-dialog .app-button.right {
	width: 44%;
}
.app-dialog .app-button.left {
	float: left;
	margin-right: 0;
}
.app-dialog .app-button.right {
	float: right;
	margin-left: 0;
}



/* Page */

.app-clickblocker {
	z-index: 9000;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #FFF;
	opacity: 0;
}

.app-page {
	display: none;
	position: relative;
	height: 100%;
	width: 100%;
	background: #FFF;
	overflow: hidden;
}
.app-loaded .app-page {
	display: block;
}



/* Topbar */

.app-topbar {
	z-index: 3000;
	position: relative;
	height: 44px;
	width: 100%;
	background: #000;
	color: #FFF;
}
.app-android .app-topbar {
	height: 48px;
}
.app-topbar .app-button {
	position: absolute;
	top: 0;
	padding: 0 8px;
	height: 100%;
	line-height: 44px;
}
.app-android .app-topbar .app-button {
	line-height: 48px;
}
.app-topbar .app-button.left {
	left: 0;
}
.app-topbar .app-button.right {
	right: 0;
}
.app-topbar .app-title {
	margin: 0 auto;
	height: 100%;
	line-height: 44px;
	text-align: center;
}
.app-android .app-topbar .app-title {
	line-height: 48px;
}



/* Content */

.app-content {
	z-index: 2000;
	position: relative;
	background: #FFF;
}
.app-ios .app-content * {
	/*
		terrible hack to make elements render
		properly in scrollable regions
	*/
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.app-section {
	position: relative;
	margin: 8px;
	border: 1px solid #AAA;
}



/* Lists */

.app-list {
	list-style: none;
}
.app-list > li,
.app-list > li.app-button {
	padding-left: 20px;
	padding-right: 8px;
	height: 43px;
	border-bottom: 1px solid #AAA;
	line-height: 43px;
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.app-android .app-list > li,
.app-android .app-list > li.app-button {
	padding-top: 2px;
	padding-bottom: 2px;
}
.app-section .app-list > li:last-child,
.app-section .app-list > li.app-button:last-child {
	border-bottom: none;
}
.app-list > label {
	display: block;
	padding-left: 12px;
	height: 24px;
	background: #000;
	color: #FFF;
	line-height: 24px;
}
.app-list > li + label {
	margin-top: -1px;
}



/* Buttons */

.app-content .app-button {
	margin: 0 auto;
	height: 40px;
	border-bottom: 1px solid #AAA;
	line-height: 40px;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.app-button:last-child {
	border-bottom: none;
}

.app-content .app-button.green {
	background: #7F7;
}
.app-content .app-button.red {
	background: #F77;
}
.app-content .app-button.blue {
	background: #77F;
}



/* Inputs */

.app-input {
	position: relative;
	display: block;
	padding: 10px 12px;
	width: 100%;
	background: transparent;
	border: none;
	border-bottom: 1px solid #AAA;
	outline: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 20px;
	-webkit-appearance: none;
}
.app-section .app-input:last-child {
	border-bottom: none;
}
.app-input,
.app-input * {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}
input.app-input {
	height: 40px;
}
textarea.app-input {
	height: 80px;
	resize: none;
}
.app-input input,
.app-input textarea {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
	background: none;
	border: none;
	outline: none;
	line-height: inherit;
	resize: none;
	-webkit-appearance: none;
}
.app-input input {
	height: 20px;
}
.app-input textarea {
	height: 60px;
}
