/* Topbar */

.app-page .app-topbar {
	height: 42px;
	background: #EEE;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#DDD));
	background-image: -webkit-linear-gradient(top, #FFF, #DDD);
	background-image: -moz-linear-gradient(top, #FFF, #DDD);
	background-image: -ms-linear-gradient(top, #FFF, #DDD);
	background-image: -o-linear-gradient(top, #FFF, #DDD);
	background-image: linear-gradient(top, #FFF, #DDD);
	border-top: 2px solid #7A2;
	border-bottom: none;
	color: #3C3C3C;
	line-height: 42px;
	text-shadow: 0 1px 0 #FFF;
}
.app-android .app-page .app-topbar {
	background-image: none;
}

.app-page .app-topbar .app-button {
	padding: 6px 8px;
	height: 16px;
	background: #444;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#555), to(#333));
	background-image: -webkit-linear-gradient(top, #555, #333);
	background-image: -moz-linear-gradient(top, #555, #333);
	background-image: -ms-linear-gradient(top, #555, #333);
	background-image: -o-linear-gradient(top, #555, #333);
	background-image: linear-gradient(top, #555, #333);
	-webkit-box-shadow: inset 0 0 1px #000;
	-moz-box-shadow: inset 0 0 1px #000;
	box-shadow: inset 0 0 1px #000;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	text-shadow: 0 1px 0 #000;
}
.app-android .app-page .app-topbar .app-button {
	top: 0;
	margin: 8px 0;
	padding: 0 16px;
	height: 32px;
	background: none;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: #2C2C2C;
	line-height: 32px;
	text-shadow: 0 1px 0 #FFF;
}
.app-page .app-topbar .app-button.active {
	padding: 7px 8px 5px;
	background: #444;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(#555));
	background-image: -webkit-linear-gradient(top, #333, #555);
	background-image: -moz-linear-gradient(top, #333, #555);
	background-image: -ms-linear-gradient(top, #333, #555);
	background-image: -o-linear-gradient(top, #333, #555);
	background-image: linear-gradient(top, #333, #555);
	-webkit-box-shadow: inset 0 1px 3px #000;
	-moz-box-shadow: inset 0 1px 3px #000;
	box-shadow: inset 0 1px 3px #000;
}
.app-android .app-page .app-topbar .app-button.active {
	padding: 0 16px;
	background: #FFF;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.app-android .app-page .app-topbar .app-button.left {
	left: 0;
	border-right: 2px solid #CCC;
}
.app-android .app-page .app-topbar .app-button.right {
	right: 0;
	border-left: 2px solid #CCC;
}



/* Content */

.app-page .app-content {
	background: #F7F7F7;
}

.app-page .app-content ul.app-list > li.active {
	background: #E6EEE8;
}
.app-page .app-content ul.app-list > label {
	height: 21px;
	background: #444;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(#555));
	background-image: -webkit-linear-gradient(top, #333, #555);
	background-image: -moz-linear-gradient(top, #333, #555);
	background-image: -ms-linear-gradient(top, #333, #555);
	background-image: -o-linear-gradient(top, #333, #555);
	background-image: linear-gradient(top, #333, #555);
	border-top: 2px solid #555;
	border-bottom: 1px solid #333;
	color: #FFF;
	line-height: 21px;
	text-shadow: 0 1px 0 #000;
}
.app-android .app-page .app-content ul.app-list > label {
	background-image: none;
	border-top-width: 1px;
}

.app-page .app-content .app-button.green {
	background: #6A7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7B8), to(#596));
	background-image: -webkit-linear-gradient(top, #7B8, #596);
	background-image: -moz-linear-gradient(top, #7B8, #596);
	background-image: -ms-linear-gradient(top, #7B8, #596);
	background-image: -o-linear-gradient(top, #7B8, #596);
	background-image: linear-gradient(top, #7B8, #596);
	border-color: #485;
	color: #FFF;
	text-shadow: 0 1px 0 #374;
}
.app-android .app-page .app-content .app-button.green {
	background-image: none;
}
.app-page .app-content .app-button.green.active {
	padding: 11px 12px 9px;
	background: #596;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6A7), to(#485));
	background-image: -webkit-linear-gradient(top, #6A7, #485);
	background-image: -moz-linear-gradient(top, #6A7, #485);
	background-image: -ms-linear-gradient(top, #6A7, #485);
	background-image: -o-linear-gradient(top, #6A7, #485);
	background-image: linear-gradient(top, #6A7, #485);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
}
.app-android .app-page .app-content .app-button.green.active {
	background-image: none;
}

.app-page .app-content .app-button.red {
	background: #C55;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#D66), to(#B44));
	background-image: -webkit-linear-gradient(top, #D66, #B44);
	background-image: -moz-linear-gradient(top, #D66, #B44);
	background-image: -ms-linear-gradient(top, #D66, #B44);
	background-image: -o-linear-gradient(top, #D66, #B44);
	background-image: linear-gradient(top, #D66, #B44);
	border-color: #A33;
	color: #FFF;
	text-shadow: 0 1px 0 #922;
}
.app-android .app-page .app-content .app-button.red {
	background-image: none;
}
.app-page .app-content .app-button.red.active {
	padding: 11px 12px 9px;
	background: #B44;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#C55), to(#A33));
	background-image: -webkit-linear-gradient(top, #C55, #A33);
	background-image: -moz-linear-gradient(top, #C55, #A33);
	background-image: -ms-linear-gradient(top, #C55, #A33);
	background-image: -o-linear-gradient(top, #C55, #A33);
	background-image: linear-gradient(top, #C55, #A33);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
}
.app-android .app-page .app-content .app-button.red.active {
	background-image: none;
}

.app-page .app-content .app-button.blue {
	background: #45A;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#56B), to(#349));
	background-image: -webkit-linear-gradient(top, #56B, #349);
	background-image: -moz-linear-gradient(top, #56B, #349);
	background-image: -ms-linear-gradient(top, #56B, #349);
	background-image: -o-linear-gradient(top, #56B, #349);
	background-image: linear-gradient(top, #56B, #349);
	border-color: #238;
	color: #FFF;
	text-shadow: 0 1px 0 #127;
}
.app-android .app-page .app-content .app-button.blue {
	background-image: none;
}
.app-page .app-content .app-button.blue.active {
	padding: 11px 12px 9px;
	background: #349;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#45A), to(#238));
	background-image: -webkit-linear-gradient(top, #45A, #238);
	background-image: -moz-linear-gradient(top, #45A, #238);
	background-image: -ms-linear-gradient(top, #45A, #238);
	background-image: -o-linear-gradient(top, #45A, #238);
	background-image: linear-gradient(top, #45A, #238);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
}
.app-android .app-page .app-content .app-button.blue.active {
	background-image: none;
}
