body {
	background: #000;
}
body.app-android {
	background: #CCC;
	font-family: "Roboto", sans-serif;
}

.app-page .app-topbar {
	background: #383838;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#535353), to(#1C1C1C));
	background-image: -webkit-linear-gradient(top, #535353, #1C1C1C);
	background-image: -moz-linear-gradient(top, #535353, #1C1C1C);
	background-image: -ms-linear-gradient(top, #535353, #1C1C1C);
	background-image: -o-linear-gradient(top, #535353, #1C1C1C);
	background-image: linear-gradient(top, #535353, #1C1C1C);
	border-top-color: #797979;
	border-bottom-color: #2A2A2A;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	color: #C8C8C8;
	text-shadow: 0 -1px 0 #000;
}
.app-android .app-page .app-topbar {
	background: #222;
	background-image: none;
	border-top-color: #111;
	border-bottom-color: #000;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	color: #FFF;
	text-shadow: 0 1px 0 #000;
}
.app-page .app-topbar .app-button {
	padding: 5px 7px;
	background: #393939;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#585858), to(#1B1B1B));
	background-image: -webkit-linear-gradient(top, #585858, #1B1B1B);
	background-image: -moz-linear-gradient(top, #585858, #1B1B1B);
	background-image: -ms-linear-gradient(top, #585858, #1B1B1B);
	background-image: -o-linear-gradient(top, #585858, #1B1B1B);
	background-image: linear-gradient(top, #585858, #1B1B1B);
	border: 1px solid;
	border-color: #121212 #1D1D1D #0E0E0E #1D1D1D;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.2),
		inset 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 1px rgba(255,255,255,0.2),
		inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0 1px 1px rgba(255,255,255,0.2),
		inset 0 1px 2px rgba(0,0,0,0.3);
	color: #C8C8C8;
	font-size: 14px;
	text-shadow: 0 -1px 0 #000;
}
.app-page .app-topbar .app-button.active {
	background: #1E1E1E;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#0A0A0A));
	background-image: -webkit-linear-gradient(top, #333333, #0A0A0A);
	background-image: -moz-linear-gradient(top, #333333, #0A0A0A);
	background-image: -ms-linear-gradient(top, #333333, #0A0A0A);
	background-image: -o-linear-gradient(top, #333333, #0A0A0A);
	background-image: linear-gradient(top, #333333, #0A0A0A);
	-webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.2),
		inset 0 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 1px rgba(255,255,255,0.2),
		inset 0 1px 2px rgba(0,0,0,0.5);
	box-shadow: 0 1px 1px rgba(255,255,255,0.2),
		inset 0 1px 2px rgba(0,0,0,0.5);
}
.app-android .app-page .app-topbar .app-button {
	top: 0;
	padding: 15px 16px;
	background: transparent;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: inherit;
	font-size: 16px;
	text-shadow: 0 1px 0 #000;
}
.app-android .app-page .app-topbar .app-button.left {
	left: 0;
}
.app-android .app-page .app-topbar .app-button.right {
	right: 0;
}
.app-android .app-page .app-topbar .app-button.active {
	background: rgba(51,197,229,0.3);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.app-android .app-page .app-topbar .app-title {
	font-size: 20px;
}

.app-page .app-content {
	background: #EBEBEB;
}

.app-android .app-page .app-content ul.app-list {
	margin: 0 16px;
}
.app-page .app-content ul.app-list > li {
	height: 38px;
	background: #F5F5F5;
	border-top-width: 1px;
	border-top-color: #FFF;
	border-bottom-color: #DCDCDC;
	color: #4D4D4D;
	line-height: 38px;
	text-shadow: 0 1px 0 #FFF;
}
.app-page .app-content ul.app-list > li.active {
	background: #FFF;
}
.app-android .app-page .app-content ul.app-list > li {
	height: 46px;
	background: transparent;
	border-bottom-width: 0;
	border-color: #CCC;
	font-size: 20px;
	line-height: 46px;
	text-shadow: none;
}
.app-android .app-page .app-content ul.app-list > label+li {
	border-top-width: 2px;
	border-color: #999;
}
.app-android .app-page .app-content ul.app-list > li.active {
	background: rgba(38,82,91,0.3);
}
.app-page .app-content ul.app-list > label {
	background: #2A2A2A;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#222), to(#333));
	background-image: -webkit-linear-gradient(top, #222, #333);
	background-image: -moz-linear-gradient(top, #222, #333);
	background-image: -ms-linear-gradient(top, #222, #333);
	background-image: -o-linear-gradient(top, #222, #333);
	background-image: linear-gradient(top, #222, #333);
	border-top: 1px solid #111;
	border-bottom: 1px solid #111;
}
.app-android .app-page .app-content ul.app-list > label {
	padding-top: 12px;
	background: none;
	border: none;
	color: #777;
	font-size: 16px;
	text-shadow: none;
	text-transform: uppercase;
}

.app-page .app-content .app-button {
	color: #333;
}
.app-android .app-page .app-content .app-button {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.app-android .app-page .app-content .app-button:first-child {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.app-android .app-page .app-content .app-button:last-child {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.app-android .app-page .app-content .app-button:first-child:last-child {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.app-page .app-content .app-button.active {
	background: #0374EE;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#058CF5), to(#015DE6));
	background-image: -webkit-linear-gradient(top, #058CF5, #015DE6);
	background-image: -moz-linear-gradient(top, #058CF5, #015DE6);
	background-image: -ms-linear-gradient(top, #058CF5, #015DE6);
	background-image: -o-linear-gradient(top, #058CF5, #015DE6);
	background-image: linear-gradient(top, #058CF5, #015DE6);
	color: #FFF;
	text-shadow: none;
}
.app-android .app-page .app-content .app-button.active {
	background: rgba(30,91,91,0.8);
	color: #FFF;
}

.app-page .app-content .app-button.green {
	background: #4CEE4C;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#9F9), to(#0D0));
	background-image: -webkit-linear-gradient(top, #9F9, #0D0);
	background-image: -moz-linear-gradient(top, #9F9, #0D0);
	background-image: -ms-linear-gradient(top, #9F9, #0D0);
	background-image: -o-linear-gradient(top, #9F9, #0D0);
	background-image: linear-gradient(top, #9F9, #0D0);
	border-color: #CCC;
	border-top-color: #DDD;
	-webkit-box-shadow: 0 1px 3px rgba(255,255,255,0.8),
		inset 0 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 3px rgba(255,255,255,0.8),
		inset 0 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0 1px 3px rgba(255,255,255,0.8),
		inset 0 1px 1px rgba(0,0,0,0.2);
	color: #FFF;
	text-shadow: 0 1px 0 #5A5;
}
.app-page .app-content .app-button.green.active {
	padding: 11px 12px 9px;
	background: #4CDD4C;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#9E9), to(#0C0));
	background-image: -webkit-linear-gradient(top, #9E9, #0C0);
	background-image: -moz-linear-gradient(top, #9E9, #0C0);
	background-image: -ms-linear-gradient(top, #9E9, #0C0);
	background-image: -o-linear-gradient(top, #9E9, #0C0);
	background-image: linear-gradient(top, #9E9, #0C0);
	-webkit-box-shadow: 0 1px 3px rgba(255,255,255,0.8),
		inset 0 1px 3px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 1px 3px rgba(255,255,255,0.8),
		inset 0 1px 3px rgba(0,0,0,0.35);
	box-shadow: 0 1px 3px rgba(255,255,255,0.8),
		inset 0 1px 3px rgba(0,0,0,0.35);
	color: #FFF;
	text-shadow: 0 1px 0 #5A5;
}
.app-android .app-page .app-content .app-button.green {
	background: #4C7;
	border-color: #2A2;
	border-top-color: #3B3;
	border-bottom-width: 2px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #FFF;
	text-shadow: 0 1px 0 #494;
}
.app-android .app-page .app-content .app-button.green.active {
	padding: 10px 12px;
	background: #3B6;
	border-color: #2A2;
	border-top-color: #3B3;
	border-top-width: 2px;
	border-bottom-width: 1px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #FFF;
	text-shadow: 0 1px 0 #494;
}
.app-page .app-content .app-button.red {
	background: #EE4C4C;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F99), to(#D00));
	background-image: -webkit-linear-gradient(top, #F99, #D00);
	background-image: -moz-linear-gradient(top, #F99, #D00);
	background-image: -ms-linear-gradient(top, #F99, #D00);
	background-image: -o-linear-gradient(top, #F99, #D00);
	background-image: linear-gradient(top, #F99, #D00);
	border-color: #CCC;
	border-top-color: #DDD;
	-webkit-box-shadow: 0 1px 3px rgba(255,255,255,0.8),
		inset 0 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 3px rgba(255,255,255,0.8),
		inset 0 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0 1px 3px rgba(255,255,255,0.8),
		inset 0 1px 1px rgba(0,0,0,0.2);
	color: #FFF;
	text-shadow: 0 1px 0 #C11;
}
.app-page .app-content .app-button.red.active {
	padding: 11px 12px 9px;
	background: #DD4C4C;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E99), to(#C00));
	background-image: -webkit-linear-gradient(top, #E99, #C00);
	background-image: -moz-linear-gradient(top, #E99, #C00);
	background-image: -ms-linear-gradient(top, #E99, #C00);
	background-image: -o-linear-gradient(top, #E99, #C00);
	background-image: linear-gradient(top, #E99, #C00);
	-webkit-box-shadow: 0 1px 3px rgba(255,255,255,0.8),
		inset 0 1px 3px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 1px 3px rgba(255,255,255,0.8),
		inset 0 1px 3px rgba(0,0,0,0.35);
	box-shadow: 0 1px 3px rgba(255,255,255,0.8),
		inset 0 1px 3px rgba(0,0,0,0.35);
	color: #FFF;
	text-shadow: 0 1px 0 #C11;
}
.app-android .app-page .app-content .app-button.red {
	background: #D65;
	border-color: #B55;
	border-top-color: #C66;
	border-bottom-width: 2px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #FFF;
	text-shadow: 0 1px 0 #A44;
}
.app-android .app-page .app-content .app-button.red.active {
	padding: 10px 12px;
	background: #C54;
	border-color: #B55;
	border-top-color: #C66;
	border-top-width: 2px;
	border-bottom-width: 1px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #FFF;
	text-shadow: 0 1px 0 #A44;
}
.app-page .app-content .app-button.blue {
	background: #4C4CEE;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#99F), to(#00D));
	background-image: -webkit-linear-gradient(top, #99F, #00D);
	background-image: -moz-linear-gradient(top, #99F, #00D);
	background-image: -ms-linear-gradient(top, #99F, #00D);
	background-image: -o-linear-gradient(top, #99F, #00D);
	background-image: linear-gradient(top, #99F, #00D);
	border-color: #CCC;
	border-top-color: #DDD;
	-webkit-box-shadow: 0 1px 3px rgba(255,255,255,0.8),
		inset 0 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 3px rgba(255,255,255,0.8),
		inset 0 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0 1px 3px rgba(255,255,255,0.8),
		inset 0 1px 1px rgba(0,0,0,0.2);
	color: #FFF;
	text-shadow: 0 1px 0 #33C;
}
.app-page .app-content .app-button.blue.active {
	padding: 11px 12px 9px;
	background: #4C4CDD;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#99E), to(#00C));
	background-image: -webkit-linear-gradient(top, #99E, #00C);
	background-image: -moz-linear-gradient(top, #99E, #00C);
	background-image: -ms-linear-gradient(top, #99E, #00C);
	background-image: -o-linear-gradient(top, #99E, #00C);
	background-image: linear-gradient(top, #99E, #00C);
	-webkit-box-shadow: 0 1px 3px rgba(255,255,255,0.8),
		inset 0 1px 3px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 1px 3px rgba(255,255,255,0.8),
		inset 0 1px 3px rgba(0,0,0,0.35);
	box-shadow: 0 1px 3px rgba(255,255,255,0.8),
		inset 0 1px 3px rgba(0,0,0,0.35);
	color: #FFF;
	text-shadow: 0 1px 0 #33C;
}
.app-android .app-page .app-content .app-button.blue {
	background: #67C;
	border-color: #55B;
	border-top-color: #66D;
	border-bottom-width: 2px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #FFF;
	text-shadow: 0 1px 0 #44B;
}
.app-android .app-page .app-content .app-button.blue.active {
	padding: 10px 12px;
	background: #56B;
	border-color: #55B;
	border-top-color: #66D;
	border-top-width: 2px;
	border-bottom-width: 1px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #FFF;
	text-shadow: 0 1px 0 #44B;
}

.app-android .app-page .app-content .app-input {
	margin: 0 0 12px;
	padding: 10px 8px 4px;
	background: none;
	border: none;
	-webkit-box-shadow:
		0 4px 0 #EBEBEB,
		-2px 0 0 #EBEBEB,
		2px 0 0 #EBEBEB,
		-2px 6px 0 #CCC,
		2px 6px 0 #CCC,
		0 6px 0 #CCC;
	-moz-box-shadow:
		0 4px 0 #EBEBEB,
		-2px 0 0 #EBEBEB,
		2px 0 0 #EBEBEB,
		-2px 6px 0 #CCC,
		2px 6px 0 #CCC,
		0 6px 0 #CCC;
	box-shadow:
		0 4px 0 #EBEBEB,
		-2px 0 0 #EBEBEB,
		2px 0 0 #EBEBEB,
		-2px 6px 0 #CCC,
		2px 6px 0 #CCC,
		0 6px 0 #CCC;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.app-android .app-page .app-content .app-input:first-child {
	border-top: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.app-android .app-page .app-content .app-input:last-child {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.app-android .app-page .app-content .app-input:first-child:last-child {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.app-android .app-page .app-content .app-input:focus {
	-webkit-box-shadow:
		0 4px 0 #EBEBEB,
		-2px 0 0 #EBEBEB,
		2px 0 0 #EBEBEB,
		-2px 6px 0 #389,
		2px 6px 0 #389,
		0 6px 0 #389;
	-moz-box-shadow:
		0 4px 0 #EBEBEB,
		-2px 0 0 #EBEBEB,
		2px 0 0 #EBEBEB,
		-2px 6px 0 #389,
		2px 6px 0 #389,
		0 6px 0 #389;
	box-shadow:
		0 4px 0 #EBEBEB,
		-2px 0 0 #EBEBEB,
		2px 0 0 #EBEBEB,
		-2px 6px 0 #389,
		2px 6px 0 #389,
		0 6px 0 #389;
}
.app-android .app-page .app-content input.app-input {
	height: 34px;
}
.app-android .app-page .app-content textarea.app-input {
	height: 34px;
}
